<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
  <meta charset="utf-8">
  <title>janken</title>
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>Janken GAME!</h1>
  エントリー
  <br>
  <div th:if="${entry}">

    <ul>
      <li th:each="user : ${entry.users}">[[${user}]]</li>
    </ul>
  </div>
  <p>Hi! [[${loginUser}]]</pp>
    <br>
    <a href="/jankengame?hand=Gu">ぐー</a>
    <a href="/jankengame?hand=Choki">ちょき</a>
    <a href="/jankengame?hand=Pa">ぱー</a>
    <br>
    [[${hand}]]<br>
    [[${opponentHand}]]<br>
    [[${result}]]<br>
</body>

</html>
