<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
  <meta charset="utf-8">
  <title>janken</title>
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>Janken GAME!</h1>
  <p>Hi! [[${loginUser}]]</p>

  <h2> エントリー</h2>

  <ul>
    <li th:each="user : ${userList}">
      <a th:href="@{/match(id=${user.id})}"> [[${user.name}]]</a>
    </li>
  </ul>

  <h2>アクティブな試合</h2>
  <p th:each="info : ${information}">
    id:[[${info.id}]]
    user1:[[${info.user1}]]
    user2:[[${info.user2}]]
    isActive:[[${info.isActive}]]</p>

  <h2> 試合結果</h2>
  <p th:each="aresult : ${result}">
    id:[[${aresult.id}]]
    user1:[[${aresult.user1}]]
    user2:[[${aresult.user2}]]
    user1の手:[[${aresult.user1Hand}]]
    user2の手:[[${aresult.user2Hand}]]</p>
  <!--
  <br>
  <a href="/jankengame?hand=Gu">ぐー</a>
  <a href="/jankengame?hand=Choki">ちょき</a>
  <a href="/jankengame?hand=Pa">ぱー</a>
  <br>
   -->
  <!--
   [[${hand}]]<br>
  [[${opponentHand}]]<br>
  [[${result}]]<br>
  -->
</body>

</html>
